# pip>=23.1
# setuptools>=60.0
# wheel>=0.36

# Libraries
ipython
ipykernel

# Testing

# Formatter
black
isort

# Linting
flake8
flake8-comprehensions

# Type annoataion linter
mypy

# Documentation

# Logging
loguru